.bg-p1 {
  background-color: #2c333d;
}
.bg-p2 {
  background-color: #d40000f5;
}
.app-carousel {
  border-radius: 10px;
  overflow: hidden;
}
.small-info {
  font-weight: 500;
  font-size: 11px;
  height: max-content;
  margin: 0;
}
.form-sec {
  height: 300px;
  background: #e0e0e0;
}
.photo-box {
  border: 1px solid black;
  height: 200px;
  width: 150px;
  overflow: hidden;
}
.text-p1 {
  color: #d40000f5;
}
.button-p1 {
  background: #d40000f5;
  height: 40px;
  border: #d40000f5;
  border-radius: 10px;
}
.button-p1:hover {
  background: #d400004b;
}
.follow-links {
  margin-top: 20px;
  width: 200px;
  display: flex;
  justify-content: space-between;
}
.follow-links a *{
  color: #d40000f5;
  height: 30px;
  width: 30px;
}
.follow-links a:hover *{
  color: #d400004b;
}
.top-padding {
  padding-top: 50px;
}
.image-choose {
  position: absolute;
  right: 0;
}
  .table-wrap {
    max-width: 100wv;
    overflow-x: scroll;
  }
.form-preview-format input {
  background-color: white;
  outline: 0;
  border: none;
  color: black;
  font-weight: 500;
}

/* loader */
.loader {
  box-sizing: border-box;
  position: relative;
  width: 48px;
  height: 48px;
  animation: spin 1s linear infinite;
}
.loader:after, .loader:before {
  content: "";
  width: 24px;
  height: 24px;
  position: absolute;
  border-radius: 50%;
  background: #FF3D00;
  animation: spin 1s linear infinite;
  transform-origin: 0px 100%;
}
.loader:before {
  transform-origin: 0 50%;
  background: #fff;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.loader-div {
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.388);
  z-index: 10;
}
.blur {
  filter: blur(8px);
}
.bg-successful {
  background: #d40000f5;
}

.sparkle {
  width: 20rem;
  color:red;
  margin: auto auto;
  &:hover {
    cursor: pointer;
  }
}

.u-hover--sparkle {
  box-sizing: border-box;
  position: relative;
  padding: 0.75em;
  &::before,
  &::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform-origin: center;
  }

  &::before {
    border-top: 0.2em solid red;
    border-bottom: 0.2em solid red;                                                                                                                                   
    transform: scale3d(0,1,1);
  }

  &::after {
    border-left: 0.2em solid red;
    border-right: 0.2em solid red;
    transform: scale3d(1,0,1);
  }

  &:hover::before,
  &:hover::after {
    transform: scale3d(1,1,1);
    transition: transform 900ms;
  }
}
.carousel-indicators{
  bottom: -45px !important;
}
.about-box{
  box-shadow: -19px 24px 26px -20px rgba(0,0,0,0.72);
}